<section class="what-needs-are">
  <div class="page-width">
    <div class="what-needs-are-row">
      <div class="whats-needs-text-col">
        <div class="whats-needs-text">
         <h1> {{ section.settings.heading }} </h1>
            <p>{{ section.settings.info }} </p>
        </div>
      </div>
      <div class="whats-needs-img-col">
        {% if section.settings.image != blank %}
             <img src="{{ section.settings.image | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image.alt }}">
          {% else %}
            {{ 'image' | placeholder_svg_tag }}
          {% endif %}
      </div>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "What Need Are",
    "settings":
            [
                {
                   "type" : "text",
                  "id" : "heading",
                    "label" : "Heading"
                },
                {
                   "type" : "textarea",
                  "id" : "info",
                    "label" : "Text"
                },
                {
                   "type" : "image_picker",
                  "id" : "image",
                    "label" : "Image"
                }
            ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}