<section class="about-who-are-they">
  <div class="page-width">
    <div class="about-who-are-they-row">
        <div class="about-who-are-they-img">
          {% if section.settings.image != blank %}
             <img src="{{ section.settings.image | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image.alt }}">
          {% else %}
            {{ 'image' | placeholder_svg_tag }}
          {% endif %}
        </div>
        <div class="about-who-are-they-text-col">
          <div class="about-who-are-they-text">
            <h1> {{ section.settings.heading }} </h1>
            <p>{{ section.settings.info }} </p>
          </div>
        </div>
      </div>
    </div>
</section>




{% schema %}
  {
    "name": "About Who Are They",
    "settings":
            [
                {
                   "type" : "text",
                  "id" : "heading",
                    "label" : "Heading"
                },
                {
                   "type" : "textarea",
                  "id" : "info",
                    "label" : "Text"
                },
                {
                   "type" : "image_picker",
                  "id" : "image",
                    "label" : "Image"
                }
            ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}