<section class="contact-info-section">
  <div class="page-width">
    <div class="contact-info-flex">
      <div class="contact-info-col">
        <h2> {{ section.settings.heading }} </h2>
        <ul class="contact-info-list">
          {% if section.settings.address != blank %}
          <li><img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/location-icon.png?v=1664887898"><span>{{ section.settings.address }}</span></li>
          {% endif %}
          {% if section.settings.phone != blank %}
          <li><a href="tel:{{ section.settings.phone }}"><img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/phone-icon.png?v=1664887914"><span>{{ section.settings.phone }}</span></a></li>
           {% endif %}
          {% if section.settings.email_1 != blank %}
          <li><a href="mailto:{{ section.settings.email_1 }}"><img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/mail-icon2.png?v=1664887941"><span>{{ section.settings.email_1 }}</span></a></li>
           {% endif %}
          {% if section.settings.email_2 != blank %}
          <li><a href="mailto:{{ section.settings.email_2 }}"><img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/email-icon.png?v=1664887963">{{ section.settings.email_2 }}</a></li>
           {% endif %}
        </ul>
        <div class="contact-info-social-icons">
          <ul>
            {% if settings.social_facebook_link != blank %}
            <li><a href="{{ settings.social_facebook_link }}"><i class="fa-brands fa-facebook-f"></i></a></li>
            {% endif %}
            {% if settings.social_twitter_link != blank %}
            <li><a href="{{ settings.social_twitter_link }}"><i class="fa-brands fa-instagram"></i></a></li>
            {% endif %}
            {% if settings.social_instagram_link != blank %}
            <li><a href="{{ settings.social_instagram_link }}"><i class="fa-brands fa-twitter"></i></a></li>
            {% endif %}   
          </ul>
        </div>
      </div>
      <div class="contact-form-col">
        <div class="contact-form-col-content">
          <h3> {{ section.settings.heading_form }} </h3>
          <form>
            <div class="contact-form-row">
              <div class="input-container">
                <input type="text" placeholder="First Name">
              </div>
              <div class="input-container">
                <input type="text" placeholder="Last Name">
              </div>
              <div class="input-container">
                <input type="tel" placeholder="Phone">
              </div>
              <div class="input-container">
                <input type="email" placeholder="Email">
              </div>
              <div class="input-container">
                <textarea placeholder="Message"></textarea>
              </div>
            </div>
            <div class="input-submit">
              <input type="submit" value="Send Message">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Contact Info And Form",
    "settings": 
    [
        {
            "type" : "text",
            "id" : "heading",
            "label" : "Heading"
        },
        {
            "type" : "text",
            "id" : "address",
            "label" : "Address"
        },
        {
            "type" : "text",
            "id" : "phone",
            "label" : "Phone Number"
        },
        {
            "type" : "text",
            "id" : "email_1",
            "label" : "Primary Email"
        },
        {
            "type" : "text",
            "id" : "email_2",
            "label" : "Secondary Email"
        },
        {
            "type" : "header",
            "content" : "Contact From"
        },
        {
            "type" : "text",
            "id" : "heading_form",
            "label" : "Heading"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}