<section class="features-content-sec">
  {% for block in section.blocks %}
  <div class="features-content-main-row">
    <div class="page-width">
      <div class="stronge-muscle-row">
        <div class="stronge-muscle-img-col">
          {% if block.settings.image != blank  %}
            <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}" loading="lazy">
          {% else %}
              {{ 'image' | placeholder_svg_tag }}
          {% endif %}
        </div>
        <div class="stronge-muscle-text-col">
          <h2> {{ block.settings.heading }} </h2>
          <p> {{ block.settings.info }} </p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>




{% schema %}
  {
    "name": "Features Content",
    "settings": [],
    "blocks":
    [
        {
           "name" : "Text With Image",
            "type" : "text-with-text",
            "settings":
            [
                {
                   "type" : "text",
                  "id" : "heading",
                    "label" : "Heading"
                },
                {
                   "type" : "textarea",
                  "id" : "info",
                    "label" : "Text"
                },
                {
                   "type" : "image_picker",
                  "id" : "image",
                    "label" : "Image"
                }
            ]
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}