<section class="latest-stories">
  <h1> {{ section.settings.heading }} </h1>
  <div class="latest-stories-slider owl-carousel">
    {% assign articles = blogs[section.settings.blog].articles %}
    {% for article in articles %}
    <div class="item">
      <div class="lastest-story-col">
        <a href="{{ article.url }}" class="latest-story-img">
          <img src="{{ article.image | img_url: 'master' }}">
        </a>
        <div class="lastest-story-text">
          <h4>{{ article.title }}</h4>
          <a href="{{ article.url }}">Read More <img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/story-right-arrow.png?v=1664533310"></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>



{% schema %}
  {
    "name": "Latest story",
     "settings": 
      [
          {
            "type" : "text",
            "id" : "heading",
              "label" : "Heading"
          },
          {
            "type" : "blog",
            "id" : "blog",
              "label" : "Blog"
          }
      ],
    "presets":[
      {
      "name": "Latest story",
      "category" :"Custom Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}