<section class="home-banner">
  <div class="banner-img-70"></div>
  <div class="page-width">
    <div class="home-banner-row">
      <div class="home-text-col">
        <div class="home-text">
          <h1>{{ section.settings.banner_title }}</h1>
          <p>{{ section.settings.banner_content }} </p>
          {% if section.settings.home_button_text != blank %}  
          <form action="/cart/add" method="post" class="">
            {% assign product = all_products[section.settings.product] %}
            <input type="hidden" value="{{ product.id }}" name="id">
             <input type="hidden" name="return_to" value="/checkout/" />
            <button type="submit" name="checkout" class="cus-site-btn"><span>{{ section.settings.home_button_text }}</span></button>
          </form>
          {% endif %}
        </div>
      </div>
        <div class="home-img-col">
          <div class="home-img">
            {%if section.settings.home_img != blank %}
            <img src="{{ section.settings.home_img | img_url : 'master' }}" alt="{{ section.settings.home_img.alt }}" loading="lazy"> 
            {% else %}
              {{ 'product-1' | placeholder_svg_tag }}
            {% endif %}
          </div>
        </div>
      </div>
  </div>
  <div class="home-social-icons">
    <ul>
        {% if settings.social_facebook_link != blank %}
        <li><a href="{{ settings.social_facebook_link }}">Facebook</a></li>
        {% endif %}
        {% if settings.social_twitter_link != blank %}
        <li><a href="{{ settings.social_twitter_link }}">Instagram</a></li>
        {% endif %}
        {% if settings.social_instagram_link != blank %}
        <li><a href="{{ settings.social_instagram_link }}">twitter</a></li>
        {% endif %}
    </ul>
  </div>
</section>






{% schema %}
  {
    "name": "banner",
    "settings": [
      {
        "type": "text",
        "id":"banner_title",
        "label":"Title"
      },
      {
        "type": "text",
        "id":"banner_content",
        "label":"Content"
      },
      {
        "type": "image_picker",
        "id":"home_img",
        "label":"Image"
      },
      {
        "type": "url",
        "id":"home_button_link",
        "label":"Button Link"
      },
      {
        "type": "text",
        "id":"home_button_text",
        "label":"Button Text"
      },
      {
        "type": "product",
        "id":"product",
        "label":"Product"
      }
    ],
    "presets":
  [
     {
      "name" : "Banner",
      "category" : "Custom Sections"
     }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}