{% assign product = all_products[section.settings.featured_product] %}
<section class="home-featured-product">
  <div class="page-width">
    <div class="home-featured-product-row">
      <div class="home-featured-content-col">
        <div class="home-featured-text">
          <h1> {{ product.title | escape }} </h1>
          <div class="home-featured-price">
            <h3>Price: {%- render 'price', product: product, use_variant: true, show_badges: true -%}</h3>
            <p> {{ product.description | split: '.' | first | append: '.'  }}  </p>
            <div class="readmore-add-to-cart">
              <a href="{{ product.url }}" class="cus-site-btn"><span>Read More</span></a>
               <form action="/cart/add" method="post" class="">
                  <input type="hidden" value="{{ product.variants.first.id }}" name="id">
                  <button>Add To Cart +</button>
               </form>
            </div>
          </div>
        </div>
      </div>
      <div class="home-featured-img-col">
        {%if product.featured_image != blank %}
        <img src="{{ product.featured_image | img_url : 'master' }}" alt="{{ product.featured_image.alt }}" loading="lazy">
        {%else%}
          {{ 'product-1' | placeholder_svg_tag }}
        {% endif %}
      </div>
    </div>
  </div>
</section>





{% schema %}
  {
    "name": "Home Featured Product",
    "settings": 
    [
        {
           "type" : "product",
            "id" : "featured_product",
            "label" : "Featured Product"
        }
    ],
    "presets": [
      {
        "name":"Home Featured Product",
        "category" : "Custom Sections"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}