
{% if section.settings.background_image != blank %}
<section class="who-are-they-sec" style="background-image:url('{{ section.settings.background_image | img_url: 'master' }}')">
{% else %}
<section class="who-are-they-sec" style="background-image:url('{{ 'collection-5' | placeholder_svg_tag }}')">
{% endif %}
  <div class="page-width">
    <div class="who-are-they-content">
      <h1> {{ section.settings.heading }} </h1>
      <p> {{ section.settings.info }}</p>
      <div class="who-are-they-btns">
        {% if section.settings.button_text != blank %}
        <a href="{{ section.settings.button_link }}" class="who-readmore cus-site-btn"><span> {{ section.settings.button_text }}</span></a>
        {% endif %}
        {% if section.settings.number != blank %}
        <a href="tel:{{ section.settings.number }}" class="who-phone"><img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/phone-svg.svg?v=1664956360"> {{ section.settings.number }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Who Are They",
    "settings": 
    [
        {
          "type" : "text",
          "id" : "heading",
            "label" : "Heading" 
        },
        {
          "type" : "textarea",
          "id" : "info",
            "label" : "Text" 
        },
        {
          "type" : "text",
          "id" : "button_text",
            "label" : "Button Text" 
        },
        {
          "type" : "url",
          "id" : "button_link",
            "label" : "Button Link" 
        },
        {
          "type" : "text",
          "id" : "number",
            "label" : "Phone Number" 
        },
        {
          "type" : "image_picker",
          "id" : "background_image",
            "label" : "Background Image" 
        }
    ],
    "presets":[
      {
      "name": "Who Are They",
      "category":"Custom Sections"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}