<section class="brief-history">
  <div class="page-width">
    <div class="brief-history-row1">
      <div class="brief-history-title">
        <h1>{{ section.settings.brief_title }}</h1>
      </div>
      <div class="brief-history-img1-col">
      <div class="brief-history-img1">
        {%if section.settings.brief_img1 != blank %}
        <img src="{{ section.settings.brief_img1 | img_url : 'master' }}" alt="{{ section.settings.brief_img1.alt }}" loading="lazy"> 
        {% else %}
          {{ 'image' | placeholder_svg_tag }}
        {% endif %}
      </div>
      </div>
    </div>
    <div class="brief-history-row2">
      <div class="brief-history-img2">       
       {%if section.settings.brief_img2 != blank %}
        <img src="{{ section.settings.brief_img2 | img_url : 'master' }}" alt="{{ section.settings.brief_img2.alt }}" loading="lazy"> 
        {% else %}
          {{ 'image' | placeholder_svg_tag }}
        {% endif %}
      </div>
      <div class="brief-history-text">
        <p>{{ section.settings.brief_content }}</p>
        {% if section.settings.brief_button_text != blank %}          
        <a href="{{ section.settings.brief_button_link }}" class="cus-site-btn"><span>{{ section.settings.brief_button_text }}</span></a>
        {% endif %}
      </div>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Brief History",
    "settings": [
      {
        "type":"text",
        "id":"brief_title",
        "label":"Title"
      },
      {
      "type":"image_picker",
      "id":"brief_img1",
      "label":"brief Image 1"
      },
      {
      "type":"richtext",
      "id":"brief_content",
      "label":"Content"
      },
      {
       "type":"image_picker",
      "id":"brief_img2",
      "label":"brief Image 2"
      },
      {
        "type":"url",
        "id":"brief_button_link",
        "label":"Brief Button Link"
      },
      {
        "type":"text",
        "id":"brief_button_text",
        "label":"Brief Button text"
      }
    ],
    "presets":[
      {
      "name" : "Brief History",
      "category" : "Custom Sections"
     }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}