<footer>
  <div class="page-width">
    <div class="footer-row">
      <div class="footer-logo">
        <a href="{{ routes.root_url }}"><img loading="lazy" src="{{ section.settings.logo | img_url : "master" }}" alt="{{ shop.name }}"></a>
      </div>
      <div class="footer-nav">
        <ul>
          {% for link in linklists[section.settings.menu_1].links %}
          <li class="{% if forloop.first %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer-social-icons">
        <ul>
          {% if settings.social_facebook_link != blank %}
        <li><a href="{{ settings.social_facebook_link }}"><i class="fa-brands fa-facebook-f"></i></a></li>
        {% endif %}
        {% if settings.social_twitter_link != blank %}
        <li><a href="{{ settings.social_twitter_link }}"><i class="fa-brands fa-instagram"></i></a></li>
        {% endif %}
        {% if settings.social_instagram_link != blank %}
        <li><a href="{{ settings.social_instagram_link }}"><i class="fa-brands fa-twitter"></i></a></li>
        {% endif %}    
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="page-width">
      <div class="footer-bottom-row">
    <p>Copyright &copy; {{ 'now' | date: "%Y" }} {{ shop.name }} - All Rights Reserved.</p>
    <div class="footer-bottom-links">
      <ul>
        {% for link in linklists[section.settings.menu_2].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    </div>
  </div>
  </div>
</footer>





{% schema %}
  {
    "name": "Footer",
    "settings": 
    [
        {
           "type" : "image_picker",
            "id" : "logo",
            "label" : "logo"
        },
        {
           "type" : "link_list",
            "id" : "menu_1",
            "label" : "Menu"
        },
        {
           "type" : "link_list",
            "id" : "menu_2",
            "label" : "Menu"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}